* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "nav content";
    width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: content;
    background: pink;
}

